.bg{
    -fx-background-image: url("images/PARIS.gif");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center; ;
}


.bg2{
    -fx-background-image: url("images/bg2.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center; ;
}

.button:hover {
    -fx-background-color: #3b7bdb;
    -fx-font-size: 40px;
    -fx-font-family: "Berlin Sans FB Demi";

}

.button:pressed {
    -fx-translate-y: 3px;
    -fx-translate-x: 3px;
}

