.bg{
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center; ;
}


.bg2{
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center; ;
}

.button{
    -fx-background-color: #0D89E8;
    -fx-text-fill: white;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 14px;
    -fx-padding: 5px 5px
}
.button2{
    -fx-background-color: #0D89E8;
    -fx-text-fill: white;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 13px;
    -fx-padding: 3px 3px
}


.button:hover {
    -fx-font-size: 16px;
    -fx-rotate: 1px ;


}

.blue-slider .track {
    -fx-background-color: #38B6FF;
    -fx-pref-height: 8px;
}
.blue-slider .thumb {

    -fx-pref-height: 15px;
    -fx-pref-width: 15px;
    -fx-background-color: white;
}

    /* Combo Box */
    .combo-box {
        -fx-background-color: #1B1B1B; /* Background color */
        -fx-text-fill: white; /* Text color */
        -fx-font-family: "Arial "; /* Font family */
        -fx-font-size: 12px; /* Font size */
        -fx-padding: 4px; /* Padding */
    }

    /* Combo Box Arrow Button */
    .combo-box .arrow-button {
        -fx-background-color:  #1B1B1B; /* Background color */
        -fx-padding: 4px; /* Padding */
    }

    /* Combo Box Arrow Icon */
    .combo-box .arrow-button .arrow {
        -fx-background-color:  white; /* Background color */

    }

    /* Combo Box List Cell */
    .combo-box .list-cell {
        -fx-background-color: #1B1B1B; /* Background color */
        -fx-text-fill: white; /* Text color */
        -fx-font-family: "Arial"; /* Font family */
        -fx-font-size: 14px; /* Font size */
        -fx-padding: 4px; /* Padding */
        -fx-border-color: grey;
        -fx-border-width: 0 0 1 0; /* Top, Right, Bottom, Left */
    }

    /* Combo Box Selected List Cell */
    .combo-box .list-cell:selected:hover {
        -fx-background-color: #1B1B1B; /* Background color */
        -fx-text-fill: #24c8f5; /* Text color */
        -fx-font-size: 15px;
    }


/* ListView */
.list-view {
    -fx-background-color: #1B1B1B; /* Background color */
    -fx-text-fill: white; /* Text color */
    -fx-font-family: "Arial"; /* Font family */
    -fx-font-size: 13px; /* Font size */
    -fx-padding: 6px; /* Padding */
}

/* ListView Cell */
.list-view .list-cell {
    -fx-background-color: #1B1B1B; /* Background color */
    -fx-text-fill: white; /* Text color */
    -fx-font-family: "Arial Rounded MT Bold"; /* Font family */
    -fx-font-size: 12px; /* Font size */
    -fx-padding: 6px; /* Padding */
    -fx-border-color: grey;
    -fx-border-width: 0 0 1 0; /* Top, Right, Bottom, Left */
}

/* Selected ListView Cell */
.list-view .list-cell:selected {
    -fx-background-color: #1B1B1B; /* Background color */
    -fx-text-fill: #24c8f5; /* Text color */
    -fx-font-size: 14px; /* Font size */
}
.list-view .list-cell:hover {
    -fx-background-color: #1B1B1B; /* Background color */
    -fx-text-fill: #24c8f5; /* Text color */
    -fx-font-size: 15px; /* Font size */
}
/* ScrollPane */
.scroll-pane {
    -fx-background-color: #1B1B1B; /* Background color */
    -fx-font-family: "Arial Black"; /* Font family */
    -fx-font-size: 12px; /* Font size */
}

/* ScrollBar */
.scroll-bar:vertical {
    -fx-background-color: #1B1B1B; /* Background color */

    -fx-min-width: 10px; /* Set minimum width */
    -fx-max-width: 10px;

}

/* ScrollBar Thumb */
.scroll-bar:vertical .thumb {
    -fx-background-color: #3D3D3D; /* Thumb color */
}

.scroll-bar:horizontal {
    -fx-background-color: #1B1B1B; /* Background color */

    -fx-min-width: 10px; /* Set minimum width */
    -fx-max-width: 10px;
}

/* ScrollBar Thumb */
.scroll-bar:horizontal .thumb {
    -fx-background-color: #3D3D3D; /* Thumb color */
}