.bg{
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center; ;
}


.bg2{
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center; ;
}

.button{
    -fx-background-color: #0D89E8;
    -fx-text-fill: white;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 14px;
    -fx-padding: 5px 5px
}
.button2{
    -fx-background-color: #0D89E8;
    -fx-text-fill: white;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 13px;
    -fx-padding: 3px 3px
}


.button:hover {
    -fx-font-size: 16px;
    -fx-rotate: 1px ;


}

.blue-slider .track {
    -fx-background-color: #38B6FF;
    -fx-pref-height: 8px;
}
.blue-slider .thumb {

    -fx-pref-height: 15px;
    -fx-pref-width: 15px;
    -fx-background-color: white;
}

    /* Combo Box */
    .combo-box {
        -fx-background-color: #1B1B1B; /* Background color */
        -fx-text-fill: white; /* Text color */
        -fx-font-family: "Arial Black"; /* Font family */
        -fx-font-size: 12px; /* Font size */
        -fx-padding: 2px; /* Padding */
    }

    /* Combo Box Arrow Button */
    .combo-box .arrow-button {
        -fx-background-color:  #1B1B1B; /* Background color */
        -fx-padding: 4px; /* Padding */
    }

    /* Combo Box Arrow Icon */
    .combo-box .arrow-button .arrow {
        -fx-background-color:  #1B1B1B; /* Background color */

    }

    /* Combo Box List Cell */
    .combo-box .list-cell {
        -fx-background-color: #1B1B1B; /* Background color */
        -fx-text-fill: white; /* Text color */
        -fx-font-family: "Arial Black"; /* Font family */
        -fx-font-size: 12px; /* Font size */
        -fx-padding: 2px; /* Padding */
    }

    /* Combo Box Selected List Cell */
    .combo-box .list-cell:selected {
        -fx-background-color: #1B1B1B; /* Background color */
        -fx-text-fill: white; /* Text color */
        -fx-font-size: 13px;
    }



